@import "tailwindcss";

:root {
  --background: #1e1e22;
  --foreground: #ffffff;
  --primary: #e96744;
  --danger: #be1e22;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-danger: var(--danger);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
